:root {
    --navy: #123C69;
    --white: white;
    --beige: #EEE2DC;
    --magenta: #AC3B61;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--navy);
    padding: 30px;
}

a {
    color: var(--white);
    text-decoration: none;
    padding: 7px;
}

a:hover {
    color: var(--magenta);
}

body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding-top: 13%;
}

body h1 {
    text-align: center;
    background-color: #123C69;
    color: var(--white);
    overflow: hidden;
    font-size: 50px;
}

body h2 {
    color: var(--navy);
    text-align: center;
    margin: 50px;
    font-size: 30px;
}

p {
    text-align: center;
}

.projects {
    display: grid;
    grid-auto-flow: column;
    position: relative;
}

.project-design {
    outline-style: solid;
    outline-color: var(--navy);
    padding: 1%;
    margin: 10px;
    max-width: 70%;
    max-height: 70%;
}

.refactoring-text {
    position: absolute;
    color: var(--white);
    background: var(--navy);
    padding: 1px 5px 1px 5px;
}

.landing-page-text {
    position: absolute;
    color: var(--white);
    background: var(--navy);
    padding: 1px 5px 1px 5px;
    left: 700px;
}

.project-three-text {
    position: absolute;
    color: var(--white);
    background: var(--navy);
    padding: 1px 5px 1px 5px;
    left: 1000px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 50%;
    background: #edc7b7;
    color: var(--navy);
}

input {
    background: var(--beige);
    font-family: var(--font-family);
}

textarea {
    background: var(--beige);
    font-family: var(--font-family);
}

@media screen and (min-width: 992px) {
    /* .body { 
        width: 50%;
        display: block;
    } */
}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 25%;
        display: block;
    }
} 

footer {
    background: var(--navy);
    margin-top: 30px;
    width: 100%;
    padding: 30px;
    text-align: center;
    z-index: +1;
}

footer a {
    text-align: center;
}

footer img {
    max-width: 30px;
    max-height: 30px;
    background: var(--white);
    border-radius: 25%;
}