:root {
    --navy: #123C69;
    --white: white;
}

.topnav {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

body h1 {
    text-align: center;
    text-transform: capitalize;
    background-color: #123C69;
    color: var(--white);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

body h2 {
    color: var(--navy);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    background: #edc7b7;
    color: var(--navy);
}

/* @media screen and (min-width: 992px) {
    body { 
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 25%
    }
} */
