:root {
    --navy: #123C69;
    --white: white;
    --beige: #EEE2DC;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--navy);
}

a {
    color: var(--white);
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

body h1 {
    text-align: center;
    background-color: #123C69;
    color: var(--white);
    overflow: hidden;
}

body h2 {
    color: var(--navy);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    background: #edc7b7;
    color: var(--navy);
}

input {
    background: var(--beige);
    font-family: var(--font-family);
}

textarea {
    background: var(--beige);
    font-family: var(--font-family);
}

@media screen and (min-width: 992px) {
    body { 
        width: 50%;
        display: block;
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 25%;
        display: block;
    }
} 

footer {
    position: fixed;
    background: var(--navy);
    margin-top: 30px;
}

footer a {
    
}